.pantalla-viewer {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Overlay blanco */
.pantalla-viewer::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
}

/* Overlay UI */
.ui-overlay {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  gap: 1rem;
  pointer-events: none;
}

.ui-overlay button {
  pointer-events: all;
}

/* CONTENEDOR CENTRAL */
.pantalla-scaler {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* Centra el contenido escalado */
  overflow: hidden;
  background: transparent;
}

/* CONTENIDO REAL */
.pantalla-scaled-content {
  /* Forzamos un tamaño base de diseño para que el cálculo sea constante */
  width: 1920px; 
  min-height: 1080px;
  transform-origin: center center; /* Escala desde el centro */
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-out; /* Suaviza el cambio */
}
/* Loading */
.pantalla-viewer-loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Error */
.pantalla-error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pantalla-error p {
  color: red;
  font-weight: bold;
}